################################################################################
# Archivo .gitignore adaptado para SQL_PORTAFOLIO
# Basado en el generado por Visual Studio, con ajustes para proyectos mixtos.
################################################################################

# Configuración de Visual 
.vs/
bin/
obj/
*.slnx
*.sqlite
test_python.py

# Windows
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Archivos temporales de VS Code config de usuario
.vscode/
*.code-workspace
.history/

# Entornos virtuales de Python
.venv/
.venv-1/
env/
venv/

# Configuración y datos sensibles
.env
**/data/
**/*.csv
*.parquet

# Archivos de sistema
.DS_Store
Thumbs.db

# Dependencias y builds
node_modules/
dist/
build/

# Logs
*.log

# Comentados para anexar las evidencias.
# *.jpg
# *.jpeg
# *.png
# *.gif